<!DOCTYPE html>
<html lang="en">

<%- include('../partials/header') %>
<body class="animsition">
    <div class="page-wrapper">
        
    <%- include('../partials/nav') %> 
        <!-- PAGE CONTENT-->
        <div class="page-content--bgf7">
            <br/>

            <!-- Misc-->
            <section class="welcome p-t-10">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="title-4">Coupons</h1>
                            
                            <hr class="line-seprate">
                        </div>
                    </div>
                </div>
            </section>
            <!-- Misc end-->
            
            

           
            <!-- DATA TABLE-->
            <section class="p-t-20">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-data__tool"> 
                                <div class="table-data__tool-left"></div> 
                                <div class="table-data__tool-right">
                                    <a href="/category"><button class="au-btn au-btn-icon au-btn--green au-btn--small">
                                        coupon list</button></a>
                                    
                                </div>
                            </div>

                            <div class="card">
                                <form hx-post="/submitCoupon" hx-on::after-request="this.reset()" id="couponFrm" hx-target="#confrim" method="post" class="form-horizontal">  
                                <div class="card-header">
                                    <strong>Create Coupon</strong>
                                </div>
                                <div id="confrim"></div>
                                <div class="card-body card-block">
                                    
                                        <div class="row form-group">
                                             
                                                <div class="col col-md-3">
                                                    <label for="staticEmail2" >Coupon</label>
                                                </div>
                                                <div class="form-group mx-sm-3 mb-2">
                                                    <div class="input-group"> 
                                                        <div class="input-group-prepend">
                                                            <div class="input-group-text">VG -</div>
                                                        </div>
                                                        <input type="text" class="form-control" id="code" required />
                                                    </div>
                                                </div>    
                                                <button type="button" class="btn btn-info btn-sm mb-2" onclick="getCoupon()">Generate Coupon</button>
                                            
                                        </div>   
                                        <div class="row form-group"> 

                                                <div class="col col-md-3">
                                                    <label for="hf-percent" class="form-control-label">Coupon Off</label>
                                                </div>

                                                <div class="form-group mx-sm-3 mb-2">
                                                    <div class="input-group"> 
                                                        <input type="text" class="form-control" required name="coupon_percent"/>
                                                        <div class="input-group-prepend">
                                                            <div class="input-group-text">%</div>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                              
                                        </div>    
                                        <div class="row form-group">
                                              
                                                <div class="col col-md-3">
                                                    <label class=" form-control-label">Coupon Expired On</label>
                                                </div>

                                                <div class="form-group mx-sm-3 mb-2">
                                                    <input type="text" id="input" class="form-control" name="coupon_percent" />
                                                </div>
                                                
                                        </div>
                                        
                                    
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-success btn-sm" >
                                        Save
                                    </button>
                                    <button type="reset" class="btn btn-danger btn-sm">
                                        <i class="fa fa-ban"></i> Reset
                                    </button>
                                </div>
                                </form>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </section>
            <!-- END DATA TABLE-->

            <%- include('../partials/footer') %>
            <script>
               function getCoupon(){
                $.ajax({

                    url : '/getCouponCode',
                    type : 'POST',
                    data : JSON.stringify({ length : 6}),
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success : function(data) {              
                        $('#code').val(data.code);
                    },
                    error : function(request,error)
                    {
                        alert("Request: "+JSON.stringify(request));
                    }
                    });
               } 
            </script>

</body>

</html>
<!-- end document-->
